@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

legend {
    color: white;
}
body {
    background-color: #000000;
    font-family: "Lato", sans-serif;
    padding: 0 14px 5px 0px;
    font-size: 20px;
    margin: 0;
    color: #ffffff;
}
h1 {
    font-size: 40px;
    text-align: left;
}
#title {
    background-color: black;
    font-family: "Arial", sans-serif;
    padding: 15px 5px 0px 0px;
    font-size: 20px;
    color: black;
    margin: 0px;
}
#type {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}
h3{
    color: white;
    padding: 15px;
}

.center {
    margin: auto;
    width: 64.7%;
    border: 0px solid #ffffff;
    padding: 0px;
    color: white;
}
.center2 {
    margin: auto;
    width: 55%;
    border: 3px solid #ffffff;
    padding: 100px;
    color: white;
}
form {
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0% 0% 0% 0%;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
label#messageLabel {
    background-color: black;
    color: white;
}