/*TODO: Make Ben's page look halfway decent*/

p, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, serif;
    color: black;
}
#title, #subtitle {
    text-align: center;
}
body {
    background-color: #9fffc8;
    font-family: "Arial", serif;
    padding: 0 14px 5px 0px;
    font-size: 20px;
    margin: 0;
}
#ContactUs {
    text-indent: 50px;
}
table, tr, th {
    align-content: center;
    border: 3px solid black;
    padding: 3px;
    border-spacing: 5px;
}
#bottombar {
    background-color: #a4eebf;
    font-family: "Times New Roman", serif;
}
