@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.important {
    /* This is for critical elements that should not be touched without asking*/
}
/* Fonts from Google Fonts - more at https://fonts.google.com */
button{

    background-color: DodgerBlue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 615px;
}
button2{

    background-color: Red; /* Green */
    border: none;
    color: white;
    padding: 15px 32.011px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 612px;
}
body {
    background-color: black;
    font-family: "Arialf", sans-serif;
    padding: 0px 14px 5px 0px;
    font-size: 20px;
    margin: 0;
    color: #404040;
}
h12{


}
h1 {
    padding:0px 5px 0px 700px;
    font-family: "Arial", serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 100px;
    color:white;
}
h2{
    font-family: "Arial", sans-serif;
    padding: 14px 5px 0 718px;
    font-size: 20px;
    margin: 0px;
    color: #ffffff;
    font-stretch:ultra-condensed;
}
img{
    padding: 15px 3000px 0px 718px;


}
p1 {
    padding: 5px 5px 5px 10px;


}
p2{
  padding: 1000px 80px 80px 500px;


}
p9{


}
h4{
    margin-top: 50px;
    margin-left: 800px;
    margin-right: 1035px;

}
#desc {
    color: white;
    font-family: Arial, serif;
    font-stretch: semi-expanded;
    margin-left: 55px;
    padding: 0px 40px 80px 120px;
    background-color: black;
}

.signup {
    color: white;
    background-color: DodgerBlue;
}
#link {
    color: black;
}
