@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.important {
    /* This is for critical elements that should not be touched without asking*/
}
/* Fonts from Google Fonts - more at https://fonts.google.com */

h1.yeet {
    color: black;
    font-size: 50px;
}
span.teey {
    color: #cb0000;
}
span.yeey {
    color: green;
}
head {
    text-align: left;
}
body {
    background-color: #c3a10f;
    font-family: "Lato", sans-serif;
    color: black;
    padding: 0 14px 5px 0px;
    font-size: 20px;
    margin: 0;
    color: #404040;
}

th{
    color: white;
    background-color: black;
}
li {
    color: black;
}
h1 {
    text-align: center;
    font-family: "Courier", serif;
    padding: 25px 14px 5px 0px;
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
}
h2{
    font-family: "Lato", sans-serif;
    padding: 0px 0px 0px 14px;
    font-size: 35px;
    margin: 0px;
    color: #000000;
    font-stretch:ultra-condensed;
}
img{
    padding: 14px 5px 0 718px;
}
p1 {
    padding: 5px 5px 5px 10px;
}
p2{
  padding: 1000px 80px 80px 500px;
}
h4{
    margin-top: 50px;
    margin-left: 800px;
    margin-right: 1035px;
}
#desc {
    text-align: center;
    color: black;
    font-family: Lato, serif;
    font-stretch: semi-expanded;
}
#desc2 {
    text-align: center;
    color: black;
    font-family: Lato, serif;
    font-stretch: semi-expanded;
}
.signup {
    color: white;
}
#link {
    color: black;
}
