@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.important {
    /* This is for critical elements that should not be touched without asking*/
}
/* Fonts from Google Fonts - more at https://fonts.google.com */

body {
    background-color: DodgerBlue;
    font-family: "Open Serif", sans-serif;
    padding: 0 14px 5px 0px;
    font-size: 20px;
    margin: 0;
    color: #404040;
}
h12{
    background-color: DodgerBlue;

}
h1 {
    padding:0px 5px 0px 700px;
    font-family: "Arial", serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 100px;
}
h2{
    background-color: #000000;
    font-family: "Arial", sans-serif;
    padding: 14px 5px 0 718px;
    font-size: 20px;
    margin: 0px;
    color: #ffffff;
    font-stretch:ultra-condensed;
}
img{
    padding: 14px 5px 0 718px;

}
p1 {
    padding: 5px 5px 5px 10px;


}
p2{
  padding: 1000px 80px 80px 500px;


}
h4{
    margin-top: 50px;
    margin-left: 800px;
    margin-right: 1035px;

}
#desc {
    color: DodgerBlue;
    font-family: Arial, serif;
    font-stretch: semi-expanded;
    border-style: dotted;
    margin-left: 55px;
}

.signup {
    color: white;
    background-color: DodgerBlue;
}
#link {
    color: black;
}


